.courseList {
    //margin: calc(1.8vh + 8px) calc(1.5vw + 5px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        list-style-type: none;
        padding: 10px;
        min-width: 200px;
        width: 20vw;
        border: 1px solid #0f2c53;
        border-radius: 5px;
        margin: 10px 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 414px) {
    .courseList {
        li {
            width: 100%;
            padding: calc(.9vh + 5px) calc(1.5vw + 5px);
            margin: 0;
            border: none;
            border-radius: 0;
        }

        li:nth-child(even) {
            background-color: #b2c8e6;
        }
    }
}